#embeddedmap {
    float: right;
    margin-right: 10px;
}
#embeddedmap .embed-container {
    position: relative;
    float: right;
    padding-bottom: 80%; 
    height: 0; 
    max-width: 100%;
    } 

#embeddedmap .embed-container iframe, .embed-container object, .embed-container iframe { 
    position: relative;
/*
    top: 0;
    left: 0;
*/
    width: 50%;
    height: 100%;
} 

#embeddedmap small {
    position: relative;
    z-index: 40;
    bottom: 0;
    margin-bottom: -15px;
}