html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Georgia, Times, "Times New Roman", serif;
}


body {
    font-size: 14pt;
    background: #F8F8F8;
    margin: 1em 2em;
}

nav {
    list-style-type: none;
}
nav ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    border-bottom: 1px solid #89A0CC88;
    color: #353747; /* #685D4E; */
    font-size: 90%;
}
a:hover {
    border-bottom: 1px solid #85A4C6;
    color: #353747CC; /* #685D4E; */
}

.toc .institutionlist {
    font-size: 14pt;
    line-height: 150%;
}

#pageheader {
    background: url(../images/wr-header.jpg);
    position: fixed;
    min-height: 8em;
    top: 0;
    left: 0;
    padding: 0 2em;
	margin-bottom: 20px;
	z-index:9999;
}


#searchbox {
    margin: 160px 0 0 0;
	
}

teiHeader {
    display: none;
}

surface img {
    display: inline-block;
}

.pure-g > div, .toc #institutionlist .l-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}

#imageset img {
    border: 1px solid #EEEEEE;
    cursor: pointer;
}

#displayimage img {
    cursor: default;
}
#displayimage {
    margin: 1em 0;
}

#searchbox {
    visibility: hidden;
}

#transcription {
    padding-top: 1em;
    min-height: 60vh;
    margin-top: 50px;
    margin-left: 2em;
}
    
ab[type='line'] {
    display: block;
}

list {
    display: block;
}
item {
    display: list-item;
}

#mastermap {
    padding: 2em 0;
}

#resultlist {
    display: none;
}




/* ColorBrewer Set2
["#66c2a5","#fc8d62","#8da0cb","#e78ac3","#a6d854","#ffd92f","#e5c494","#b3b3b3"]
*/
.unclear {
    background: #66c2a5;
}
.name {
    background: #fc8d62;
}
.measure {
    background: #8da0cb;
}
.choice {
    background: #e78ac3;
}
.date {
    background: #a6d854;
}

footer {
    background: url(../images/wr-footer.jpg);
    border-top: 4px solid #3f474a;
    margin: 1em -2em 0 -3em;
    padding: 1em 2em;
    font-size: 12pt;
}

#boilerplatecredit {
    font-size: 8pt;
}

[style='outdent1'] {
    margin-left: -1em;
}

[style='outdent2'] {
    margin-left: -2em;
}


[type='honorific_0'] {
    display: inline-block;
    padding-left: 1em;
}


[type='honorific_1']:before,
[type='honorific_2']:before,
[type='honorific_3']:before,
[type='honorific_new_line']:before {
    content: '\A';
    white-space: pre;
}

[type='honorific_1'] {
    left: -1em;
    margin-right: -1em;
    position: relative;
}

[type='honorific_2'] {
    left: -2em;
    margin-right: -2em;
    position: relative;
}

[type='honorific_3'] {
    left: -3em;
    margin-right: -3em;
    position: relative;
}

[type='honorific_new_line'] {
    left: 0;
    margin-right: 0em;
    position: relative;
}




