body {
    background: #F8F8F8;
    max-width: 1000px;
    margin: auto;
}

tei-title {
    font-weight: bold;
    font-size: 120%;
}

ab {
    display: block;
}

facsimile {
    display: block;
    float: right;
    padding: 10px;
    background: #EEEEFF;
    
}
facsimile surface img {
    display: inline-block;
    width: 100px;
}

li {
    margin: 0;
}